anime-hostess-backend/.idea
anime-hostess-backend/config.ini
anime-hostess-backend/config.grpc.ini
anime-hostess-backend/deploy.bat
anime-hostess-backend/anime-hostess
anime-hostess-backend/anime-hostess.7z
